{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="mb-5 text-center">Catálogo de Entretenimiento</h1>

    <div id="carruselGeneros" class="carousel slide shadow" data-bs-ride="carousel">
        <div class="carousel-inner rounded">
            
            {% for genero in lista_generos %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">

                    <img src="{% static 'images/' %}{{ genero.imagen_fondo }}" class="d-block w-100" alt="{{ genero.nombre }}" style="height: 450px; object-fit: cover; filter: brightness(0.4);">
                    
                    <div class="carousel-caption d-flex flex-column justify-content-center h-100" style="bottom: 0;">
                        <h2 class="display-5 fw-bold">{{ genero.nombre }}</h2>
                        <p class="lead">{{ genero.descripcion }}</p>
                        <div>
                            <a href="{% url 'home_agustin:detalle' genero.nombre %}" class="btn btn-outline-light btn-lg mt-3">Ver películas</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carruselGeneros" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carruselGeneros" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
{% endblock %}